span.dinero{
    font-style: oblique;
}

span.cov{font-weight: bolder;
}

span.iva {
    font-size: smaller;
}

span.no{
    text-decoration: line-through;
}

.rojo{color: red;
font-weight: bolder;
}
.verde{color: green;}
.TXT{color: blue;}

.e{
    text-decoration: line-through;
}